#center-popup{
    position: absolute;
    inset: 0;
    background-image: url("./src/assets/png/retina/ui/menu/panel_menu.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 780px;
    height: 740px;
    display: grid;
    place-content: center;
    justify-items: center;
    text-align: center;
    margin: auto;
}